:root {
    // COLORS
    --fh-color-back: rgb(3 3 2);
    --fh-color-red: rgb(173, 35, 74);
    --fh-color-light: #6E6E6E;
    --fh-color-light-text: #ADADAD;
    --fh-color-light-back: #F1F1F1;
    --fh-color-text: rgb(0 0 0 / 0.5);
    // TYPO
    --fh-ff-raleway: "Montserrat", sans-serif;
    // --fh-ff-raleway: 'Helvetica Neue', Helvetica, sans-serif;
    --fh-ff-cinzel: "Cinzel", serif;
    --fh-ff-bebas: 'Bebas Neue', sans-serif;
    // --fh-ff-cinzel: "Times New Roman", TImes, serif;
}

// <uniquifier>: Use a unique and descriptive class name

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-size: 1rem;
    color: var(--fh-color-text);
    transition: all 0.3s ease-in-out;
    font-family: var(--fh-ff-raleway);
    // -webkit-font-smoothing: antialiased;
}

body {
    background-color: var(--fh-color-back);
    position: relative;
    height: auto;
}

html.lenis, html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}

#preloading-page {
    background-color: rgb(3 3 2);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;

    &.good-bye {
        animation: fadeOut forwards 1s ease-in-out;
    }

    div.spin {
        display: block;
        position: absolute;
        width: 100px;
        height: 100px;
        border: 2px solid rgb(255 255 255 / 0.1);
        top: calc(50% - 50px);
        left: calc(50% - 50px);
        transform: translate(-50%, -50%);
        border-top-color: rgb(255 255 255 / 0.5);
        border-radius: 50%;
        animation: spin 0.6s infinite linear;
    }

    div.icon {
        display: block;
        position: absolute;
        transform: translate(-50%, -50%);
        width: 60px;
        opacity: 0.7;
        top: 50%;
        left: 50%;

        svg {
            path {
                fill: rgb(255 204 110 / 0.5) !important;
            }
        }
    }
}

a {
    color: var(--fh-color-red);
    text-decoration: none;

    &:hover {
        color: var(--fh-color-light-text);
    }

    &.outline {
        display: inline-block;
        border: 1px solid rgb(3 3 2 / 0.7);
        padding: 10px 20px;
        text-transform: uppercase;
        font-size: 0.75rem;
        margin-top: 20px;

        &:hover {
            border-color: rgb(3 3 2 / 0.2);
            color: rgb(3 3 2 / 1);
        }
    }
}

.content-fluid {
    padding: 0 120px;

    @media screen and (width < 75em){
        padding: 0 26px;
    }
}

section {
    overflow: hidden;

    h2 {
        font-family: var(--fh-ff-bebas);
        font-size: clamp(2rem, 1.75vw, 2.5rem);
        line-height: 1;

        &::after {
            content: '';
            display: block;
            width: 80px;
            height: 1px;
            position: relative;
            top: 20px;
        }

        &.black {
            color: var(--fh-color-light);

            &::after {
                background-color: rgb(3 3 2 / 0.3);
            }
        }

        &.white {
            color: rgb(255 255 255 / 0.7);

            &::after {
                background-color: rgb(255 255 255 / 0.4);
            }
        }
    }

    p {
        color: var(--fh-color-text);
        line-height: 1.7;
        letter-spacing: normal;
        font-size: 0.875rem;
        margin: 0;
    }

    &.big-pause {
        .text {
            padding: 0 26px;
            h5 {
                color: rgb(255 204 110 / 0.5);
                font-family: var(--fh-ff-raleway);
                text-transform: uppercase;
                font-size: 0.75rem;
                letter-spacing: 0.4rem;
                text-align: center;
                line-height: 140%;

                small {
                    opacity: 0.6;
                }

                @media (max-width: 75em){
                    letter-spacing: 0.2rem;
                    line-height: 160%;
                }
            }
        }
    }

    &#fh-thought-section {
        background-color: var(--fh-color-light-back);
        padding: 130px 0 100px;
        text-align: center;
        background-image: url('/assets/images/back-thoughts.webp');
        background-position: center;
        background-size: cover;

        @media (max-width: 75em){
            padding: 80px 20px;
        }

        h3 {
            font-family: var(--fh-ff-raleway);
            line-height: 1.7;
            letter-spacing: 1px;
            font-size: 1rem;
            color: rgb(0 0 0 / 0.8);
            position: relative;

            &::before {
                content: '';
                width: 100px;
                height: 1px;
                background-color: rgb(3 3 2 / 0.5);
                display: block;
                position: absolute;
                left: 50%;
                top: -30px;
                transform: translate(-50%);
            }

            @media (max-width: 75em){
                font-size: 1rem;
            }
        }
    }

    &#fh-portfolio-section {
        overflow: unset;
        padding: 100px 0;

        .list-of-thumbs {
            position: relative;
            margin-top: 80px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;

            @media (width < 75em){
                padding: 20px 26px;
            }

            @media (width > 75em){
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(3, 1fr);
                gap: 1.5rem;
            }

            @media (width < 48em){
                grid-template-columns: 1fr;
            }

            .grid-col-span-2 {
                grid-column: span 2;
                grid-row: span 2;

                @media (max-width: 75em){
                    grid-column: unset;
                    grid-row: unset;
                }
            }
        }

        .col-12 {
            // padding: 100px 0;

            @media (max-width: 75em){
                padding: 20px 26px;
            }

            &.image-portfolio {
                picture {
                    width: 80% !important;
                    height: auto !important;
                }
            }

            &.middle-text {
                @media (max-width: 75em){
                    padding: 0 26px 40px;
                }
            }
        }
    }

    &#fh-about-section {
        background-color: var(--fh-color-light-back);

        .col-12 {
            padding: 100px 0;

            &:nth-of-type(2) {
                @media (max-width: 75em){
                    padding: 40px 26px;
                }
            }

            @media (max-width: 75em){
                padding: 40px 26px;
            }

            p {
                padding: 0 60px;

                @media (max-width: 75em){
                    padding: 0;
                }
            }
        }
    }

    &.fh-philosophy-section {
        h2 {
            margin-bottom: 30px;

            &::after {
                display: none;
            }
        }

        p {
            margin-left: 50px;

            @media (max-width: 75em){
                margin-left: 0;
            }
        }

        .outline {
            @extend p;
            margin-top: 20px;
        }
    }

    &.fh-services-section {
        @extend #fh-about-section;

        .col-12 {
            p {
                padding: 0;
            }
        }
    }

    &.fh-companies-section {
        @extend #fh-about-section;
    }

    &.fh-portfolio-section {
        @extend #fh-about-section;
        background-color: white;
        
        h2 {
            color: rgb(0 0 0 / 0.5);
            margin-bottom: 30px;
        }

        p {
            padding: 0 !important;
                
            &:not(:first-of-type){
                margin-top: 20px;
            }
        }
    }

    &.fh-resume-section {
        @extend #fh-about-section;

        .col-12 {
            p {
                &:not(:first-of-type){
                    margin-top: 20px;
                }
            }

            dl {
                margin-bottom: 0;

                dt {
                    color: rgb(3 3 2 / 0.75);
                    font-size: 1rem;
                    font-weight: 300;
                    font-family:'Times New Roman', Times, serif;
                    font-style: italic;
                }
                dd {
                    color: var(--fh-color-text);
                    font-size: 0.875rem;
                    letter-spacing: unset;
                    margin: 0 0 10px;
                }
            }
        }

        &.experience {
            &:nth-of-type(odd){
                background-color: #f7f7f7;
            }
            h2 {
                margin-bottom: 40px;
            }
            h5 {
                font-size: 0.75rem;
                color: rgb(3 3 2 / 0.5);
                text-transform: uppercase;
                
                &:not(:first-of-type){
                    margin-top: 20px;
                }
            }
            p {
                padding: 0;
                
                &:not(:first-of-type){
                    margin-top: 20px;
                }
            }
            ul {
                li {
                    font-size: 0.875rem;
                    letter-spacing: 1px;
                    color: rgb(3 3 2 / 0.5);

                    span {
                        font-size: 0.875rem;
                        color: rgb(3 3 2 / 0.8);
                    }
                }
            }
        }

        &.education {
            background-color: #e1e1e1;

            h4 {
                font-size: 0.875rem;
                font-weight: bold;
                color: rgb(3 3 2 / 0.4);
                text-transform: uppercase;
            }

            p {
                padding: 0;

                small {
                    em {
                        font-size: 0.75rem;
                        color: rgb(3 3 2 / 0.5);
                    }
                }

                &.bullet {
                    color: rgb(3 3 2 / 0.7);
                    font-size: 0.8125rem;

                    &:not(:first-of-type){
                        margin-top: 10px;
                    }
                }
                
                &:not(:first-of-type){
                    margin-top: 0;
                }
            }

            h3 {
                margin: 0;
                font-size: 1.25rem;
                font-family: var(--fh-ff-bebas);

                small {
                    font-size: 0.875rem;
                    font-family: var(--fh-ff-raleway);
                }
            }
        }
    }

    &#fh-contact-section {
        @extend #fh-about-section;

        h5 {
            padding: 0 60px;
            font-size: 2rem;
            font-family: var(--fh-ff-bebas);
            // letter-spacing: 0.2rem;

            @media (max-width: 75em){
                padding: 0;
            }
        }
    }

    &.fh-blog-container {
        @extend #fh-about-section;

        .blog-articles {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    &.fh-blog-content {
        @extend #fh-about-section;

        h3 {
            &:not(:first-of-type) {
                margin-top: 40px;
            }
        }

        .date {
            text-transform: uppercase;
            font-size: 0.825rem;
            margin: 30px 0;
        }

        p {
            padding: 10px 0 !important;

            &.cinzel {
                font-family: var(--fh-ff-cinzel);
                font-size: 1.2rem;
            }
        }
    }

    &#fh-hero-section {
        width: 100%;
        height: calc(100svh - 85px);
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .fh-hero-mouse {
            position: absolute;
            left: 50%;
            transform: translate(-50%);
            bottom: 40px;
            display: block;
            width: 20px;
            opacity: 0.05;
            animation: mouseAnimation 2s infinite ease-in-out;
        }

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -1;
            background-image: url('/assets/images/logo-fh.svg');
            background-repeat: no-repeat;
            background-size: 40%;
            background-position: center;
            background-attachment: fixed;
            opacity: 0.007;

            @media (max-width: 75em){
                background-size: 160%;
                opacity: 0.02;
                background-attachment: unset;
            }
        }

        .fh-hero-text {
            text-align: center;

            h1 {
                font-family: var(--fh-ff-bebas);
                font-size: clamp(2.5rem, 2.64vw, 3.75rem);
                line-height: 1;
                color: rgb(255 255 255 / 0.75);

                small {
                    font-family: var(--fh-ff-bebas);
                    font-size: clamp(1.875rem, 2vw, 2.5rem);
                    color: rgb(255 204 110 / 0.4);
                }
            }

            .fh-pretitle {
                color: rgb(255 255 255 / 0.3);
                font-size: 1.25rem;
                text-transform: uppercase;

                @media (max-width: 75em){
                    font-size: 1rem;
                }
            }

            .fh-postitle {
                @extend .fh-pretitle;
                font-size: 1rem;
                text-transform: unset;

                @media (max-width: 75em){
                    font-size: 0.8125rem;
                }
            }
        }
    }

    .back-white {
        background-color: white;

        @media (max-width: 75em){
            background-color: transparent;
        }
    }
}