---
import MainLayout from "../../layout/MainLayout.astro";
import TheHeader from "../../components/theHeader.astro";
import MouseIcon from "../../components/svg/mouseIcon.astro";
import BlogArticle from "../../components/blogArticle.astro";
import Menu from "../../components/menu.astro";
import ContactSection from "../../components/contactSection.astro";
---

<MainLayout MainTitle="Fidel Hernandez :: Blog" MainDescription="Take a look into my thoughts">
    <TheHeader />

    <section id="fh-hero-section" class="change-menu-color">
		<div class="container-fluid">
			<div class="fh-hero-text">
				<h1 data-aos="zoom-in-down" data-aos-duration="1500">
					Blog
				</h1>
				<div class="fh-postitle" data-aos="fade-up">Take a look into my thoughts</div>
			</div>
			<div class="fh-hero-mouse">
				<MouseIcon />
			</div>
		</div>
	</section>
    
    <section class="fh-blog-container">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="blog-articles">
                        <BlogArticle backImage="/assets/images/blog/solid-principles.webp" title="The 5 S.O.L.I.D. Principles for Quality Software Development: A Simple Explanation" fragment="Want to improve your code? The S.O.L.I.D. principles are key! Let's break them down simply">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <ContactSection />

    <Menu />
</MainLayout>