---
import TheHeader from "../components/theHeader.astro";
import Menu from "../components/menu.astro";
import MainLayout from "../layout/MainLayout.astro";
import MouseIcon from "../components/svg/mouseIcon.astro";
import PortfolioThumbs from "../components/portfolioThumbs.astro";
import ContactSection from "../components/contactSection.astro";
import PauseSection from "../components/pauseSection.astro";
---

<MainLayout MainTitle="Fidel Hernandez :: Creative consultant" MainDescription="With over 20 years of experience in web development, design, and illustration, I've evolved from a passionate hobbyist into a seasoned professional, blending creativity and technology to craft unique digital experiences.">
	<TheHeader />	

	<section id="fh-hero-section" class="change-menu-color">
		<div class="container-fluid">
			<div class="fh-hero-text">
				<div class="fh-pretitle" data-aos="fade-down">Fidel Hernandez</div>
				<h1 data-aos="zoom-in">
					Visual Identity Designer<br><small>&</small><br>UI/UX Designer
				</h1>
				<div class="fh-postitle" data-aos="fade-up">and illustrator, web designer, UI developer, creative, and consultant</div>
			</div>
			<div class="fh-hero-mouse">
				<MouseIcon />
			</div>
		</div>
	</section>

	<section id="fh-about-section">
		<div class="container">
			<div class="row pt-6 pb-6">
				<div class="col-12 col-lg-6">
					<h2 class="black">About.</h2>
				</div>
				<div class="col-12 col-lg-6 back-white pt-6 pb-6" data-aos="fade-left">
					<p>With over 20 years of experience in web development, design, and illustration, I've grown from a hobbyist into a professional, blending creativity and technology to create unique digital experiences. My roles as creative director, interface designer, and UI/UX expert, along with programming and product design skills, enable me to transform ideas into compelling visual realities. Explore my portfolio to see how I can bring your vision to life.</p>
				</div>
			</div>
		</div>
	</section>

	<section id="fh-portfolio-section">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h2 class="white">Portfolio.</h2>
				</div>
				<div class="list-of-thumbs">
					<div class="grid-col-span-2">
						<PortfolioThumbs linkUrl="/portfolio/dental-carranza" biz="i. Dental Carranza" location="Monterrey, NL" photo="/assets/images/logos/logo-dental-carranza.webp" />
					</div>
					<div>
						<PortfolioThumbs linkUrl="/portfolio/bichotech" biz="ii. Bichotech" location="Monterrey, NL" photo="/assets/images/logos/logo-bichotech.webp" />
					</div>
					<div>
						<PortfolioThumbs linkUrl="/portfolio/jade" biz="iii. Jade, coordinación de eventos" location="Ramos Arizpe, Coahuila" photo="/assets/images/logos/logo-jade.webp" />
					</div>
					<div>
						<PortfolioThumbs linkUrl="/portfolio/white-rhino-studio" biz="iv. White Rhino Studio" location="Saltillo, Coahuila" photo="/assets/images/logos/logo-wrs.webp" />
					</div>
					<div>
						<PortfolioThumbs linkUrl="/portfolio/27-12-taller-de-arquitectura" biz="v. 27.12" location="Monterrey, NL" photo="/assets/images/logos/logo-27-12.webp" />
					</div>
					<div>
						<PortfolioThumbs linkUrl="/portfolio/bank-of-montecarlo" biz="vi. Bank of MonteCarlo" location="Los Angeles, CA USA" photo="/assets/images/logos/logo-bank.webp" />
					</div>
					
					
					
					
					
					<!-- <PortfolioThumbs linkUrl="/portfolio/bank-of-montecarlo" biz="vi. Bank of MonteCarlo" location="Los Angeles, CA USA" photo="/assets/images/logos/logo-bank.webp" /> -->
					<!-- <PortfolioThumbs linkUrl="/portfolio-sofulabs" biz="vi. Sofulabs" location="Tijuana, BC" photo="/assets/images/logos/logo-sofulabs.webp" /> -->
					<!-- <PortfolioThumbs linkUrl="/portfolio-heber-banda" biz="vii. Heber Banda" location="San Pedro Garza García, NL" photo="/assets/images/logos/logo-heber-banda.webp" /> -->
					<!-- <PortfolioThumbs linkUrl="/portfolio-malenky" biz="viii. Malenky" location="Monterrey, NL" photo="/assets/images/logos/logo-malenky.webp" /> -->
					<!-- <PortfolioThumbs linkUrl="/portfolio-mooving-logistics" biz="ix. Mooving Logistics" location="Monterrey, NL" photo="/assets/images/logos/logo-mooving.webp" /> -->
				</div>
			</div>
		</div>
	</section>

	<section id="fh-thought-section">
		<div class="container">
			<div class="row">
				<div class="col-12" data-aos="fade">
					<h3 class="black">
						The fusion of frontend development and graphic design is where creativity meets functionality. It's the art of transforming visual concepts into interactive experiences, where every line of code breathes life into beautifully crafted designs. Together, they shape the digital world—design speaks to the heart, while code brings it to reality. It's a dance between aesthetics and logic, creating seamless interfaces that are not just seen, but felt by the user.
					</h3>
				</div>
			</div>
		</div>
	</section>

	<PauseSection image="/assets/images/back-hands.webp">
		<Fragment slot="PauseFragment">
			<h5>A heart and hands, touched by the Lord, ready to serve.</h5>
		</Fragment>
	</PauseSection>

	<ContactSection />

	<Menu />
</MainLayout>