---
import TheHeader from "../components/theHeader.astro";
import Menu from "../components/menu.astro";
import MainLayout from "../layout/MainLayout.astro";
import MouseIcon from "../components/svg/mouseIcon.astro";
import PortfolioThumbs from "../components/portfolioThumbs.astro";
import ContactSection from "../components/contactSection.astro";
import PauseSection from "../components/pauseSection.astro";
---

<MainLayout MainTitle="Fidel Hernandez :: Creative consultant" MainDescription="With over 20 years of experience in web development, design, and illustration, I've evolved from a passionate hobbyist into a seasoned professional, blending creativity and technology to craft unique digital experiences.">
	<TheHeader />	

	<section id="fh-hero-section" class="change-menu-color">
		<div class="container-fluid">
			<div class="fh-hero-text">
				<div class="fh-pretitle" data-aos="fade-down">Fidel Hernandez</div>
				<h1 data-aos="zoom-in">
					Visual Identity Designer<br><small>&</small><br>UI/UX Designer
				</h1>
				<div class="fh-postitle" data-aos="fade-up">and illustrator, web designer, UI developer, creative, and consultant</div>
			</div>
			<div class="fh-hero-mouse">
				<MouseIcon />
			</div>
		</div>
	</section>

	<section id="fh-about-section">
		<div class="container">
			<div class="row pt-6 pb-6">
				<div class="col-12 col-lg-6" data-aos="fade-right">
					<h2 class="black">About.</h2>
				</div>
				<div class="col-12 col-lg-6 back-white" data-aos="fade-left">
					<p>With over 20 years of experience in web development, design, and illustration, I've evolved from a passionate hobbyist into a seasoned professional, blending creativity and technology to craft unique digital experiences. My journey has taken me through roles as a creative director, interface designer, and UI/UX expert, all while continuously honing my skills in programming and product design. From small businesses to complex digital projects, my work is driven by a deep commitment to transforming ideas into compelling visual and interactive realities. Explore my portfolio to discover how my expertise can bring your vision to life.</p>
				</div>
			</div>
		</div>
	</section>

	<section id="fh-portfolio-section">
		<div class="container">
			<div class="row">
				<div class="col-12" data-aos="fade-right">
					<h2 class="white">Portfolio.</h2>
				</div>
				<PortfolioThumbs linkUrl="/portfolio-dental-carranza" biz="i. Dental Carranza" location="Monterrey, NL" photo="/assets/images/logos/logo-dental-carranza.webp" />
				<PortfolioThumbs linkUrl="/portfolio-bichotech" biz="ii. Bichotech" location="Monterrey, NL" photo="/assets/images/logos/logo-bichotech.webp" reverse />
				<!-- <PortfolioThumbs linkUrl="/portfolio-heber-banda" biz="iii. Heber Banda" location="San Pedro Garza García, NL" photo="/assets/images/logos/logo-heber-banda.webp" /> -->
				<!-- <PortfolioThumbs linkUrl="/portfolio-malenky" biz="iv. Malenky" location="Monterrey, NL" photo="/assets/images/logos/logo-malenky.webp" reverse /> -->
				<PortfolioThumbs linkUrl="/portfolio-jade" biz="v. Jade, coordinación de eventos" location="Ramos Arizpe, Coahuila" photo="/assets/images/logos/logo-jade.webp" />
				<!-- <PortfolioThumbs linkUrl="/portfolio-sofulabs" biz="vi. Sofulabs" location="Tijuana, BC" photo="/assets/images/logos/logo-sofulabs.webp" reverse /> -->
				<PortfolioThumbs linkUrl="/portfolio-wrs" biz="vii. White Rhino Studio" location="Saltillo, Coahuila" photo="/assets/images/logos/logo-wrs.webp" />
				<!-- <PortfolioThumbs linkUrl="/portfolio-mooving-logistics" biz="viii. Mooving Logistics" location="Monterrey, NL" photo="/assets/images/logos/logo-mooving.webp" reverse /> -->
			</div>
		</div>
	</section>

	<section id="fh-thought-section">
		<div class="container">
			<div class="row">
				<div class="col-12" data-aos="fade">
					<h3 class="black">
						The fusion of frontend development and graphic design is where creativity meets functionality. It's the art of transforming visual concepts into interactive experiences, where every line of code breathes life into beautifully crafted designs. Together, they shape the digital world—design speaks to the heart, while code brings it to reality. It's a dance between aesthetics and logic, creating seamless interfaces that are not just seen, but felt by the user.
					</h3>
				</div>
			</div>
		</div>
	</section>

	<PauseSection image="/assets/images/back-hands.webp">
		<Fragment slot="PauseFragment">
			<h5>A heart and hands, touched by the Lord, ready to serve.</h5>
		</Fragment>
	</PauseSection>

	<ContactSection />

	<Menu />
</MainLayout>