---
import MainLayout from "../layout/MainLayout.astro";
import TheHeader from "../components/theHeader.astro";
import Menu from "../components/menu.astro";
import PhilosophySection from "../components/philosophySection.astro";
import PauseSection from "../components/pauseSection.astro";
import ContactSection from "../components/contactSection.astro";
import PortfolioHero from "../components/portfolioHero.astro";
import PortfolioComparision from "../components/portfolioComparision.astro";
import PortfolioBigOne from "../components/portfolioBigOne.astro";
import PortfolioTwoImages from "../components/portfolioTwoImages.astro";
---

<MainLayout MainTitle="Fidel Hernandez :: Getting Perfect Smiles Project" MainDescription="Together with Dr. Ramiro Carranza, we delved into the family's heraldic roots to create a visual identity that reflected their values and goals.">
	<TheHeader />

    <PortfolioHero
                category="Branding"
                projectName="Getting Perfect Smiles"
                projectCover="/assets/images/portfolio/carranza/cover.webp"
                dataProject={[
                    ['Client', 'Dental Carranza'],
                    ['location', 'Monterrey, NL MX'],
                    ['Date', 'June 2024'],
                    ['Role', 'Creative Director']
                ]}
                ></PortfolioHero>

    <section class="fh-portfolio-section">
		<div class="container">
			<div class="row pt-6 pb-6">
				<div class="col-12 col-lg-4" data-aos="fade-right">
					<h2>I.</h2>
				</div>
				<div class="col-12 col-lg-8" data-aos="fade-left" data-aos-delay="400">
                    <h2>Understanding<br>the Context</h2>
					<p>Collaborating with 'Dental Carranza' was a rewarding experience. Together with Dr. Ramiro Carranza, we delved into the family's heraldic roots to create a visual identity that reflected their values and goals. The simplicity of their coat of arms, with only two colors, inspired me to use a flag shape as the central element.</p>
                    <p>The color palette emerged from a casual observation: the combination of the red and blue from the doctor's surgical gloves resulted in a unique and distinctive hue.</p>
				</div>
			</div>
		</div>
	</section>

    <section class="fh-portfolio-section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <img width="100%" src="/assets/images/portfolio/carranza/dc-coat.webp" alt="">
                </div>
                <div class="col-12 col-lg-4">
                    <img width="100%" src="/assets/images/portfolio/carranza/dc-flag.webp" alt="">
                </div>
                <div class="col-12 col-lg-4">
                    <img width="100%" src="/assets/images/portfolio/carranza/dc-color.webp" alt="">
                </div>
            </div>
        </div>
    </section>

    <PortfolioBigOne image="/assets/images/portfolio/carranza/dc-big.webp"/>

    <section class="fh-portfolio-section">
		<div class="container">
			<div class="row pt-6 pb-6">
				<div class="col-12 col-lg-4" data-aos="fade-right">
					<h2>II.</h2>
				</div>
				<div class="col-12 col-lg-8" data-aos="fade-left" data-aos-delay="400">
                    <h2>Enhancing Tradition:<br>A Personalized Touch to Dr. Ramiro Carranza's Dental Legacy</h2>
					<p>Dr. Ramiro Carranza is highly regarded for his exceptional work in dental prosthetics. To honor his legacy while preserving the core identity of the family business, I added a personal touch by incorporating his name in a distinct handwritten style. This subtle yet impactful element ensures that the brand remains authentic and connected to its roots, while also highlighting Dr. Carranza's unique contribution to the field.</p>
				</div>
			</div>
		</div>
	</section>

    <PortfolioTwoImages imageOne="/assets/images/portfolio/carranza/dc-3.webp" imageTwo="/assets/images/portfolio/carranza/dc-1.webp" />

    <section class="fh-portfolio-section">
		<div class="container">
			<div class="row pt-6 pb-6">
				<div class="col-12 col-lg-4" data-aos="fade-right">
					<h2>III.</h2>
				</div>
				<div class="col-12 col-lg-8" data-aos="fade-left" data-aos-delay="400">
                    <h2>New social media<br>for better care!</h2>
					<p>We transformed the doctor's online presence. I designed visually appealing templates, including a 'frame' with the hashtag #YoMeAtiendoEn..., to strengthen their personal brand and create a greater visual impact.</p>
				</div>
			</div>
		</div>
	</section>

    <PortfolioTwoImages imageOne="/assets/images/portfolio/carranza/dc-social.webp" imageTwo="/assets/images/portfolio/carranza/dc-2.webp" />

    <section class="fh-portfolio-section">
        <div class="container">
            <div class="row pt-6 pb-6">
                <div class="col-12 col-lg-4" data-aos="fade-right">
                    <h2>IV.</h2>
                </div>
                <div class="col-12 col-lg-8" data-aos="fade-left" data-aos-delay="400">
                    <h2>Conclusions</h2>
                    <p>Working with Dr. Ramiro Carranza and his family to craft an image steeped in tradition was an immensely rewarding experience. The colors and shapes chosen evoke numerous possibilities for the brand, but what excites me the most is the prospect of my next challenge: designing their website.</p>
                </div>
            </div>
        </div>
    </section>

    <PauseSection image="/assets/images/portfolio/carranza/dc-pause.webp">
        <Fragment slot="PauseFragment">
			<h5>A healthy mouth, a serene mind. In every smile, a reflection of our soul.</h5>
		</Fragment>
    </PauseSection>

    <!-- <PhilosophySection picture="/assets/images/portfolio/behance.webp">
        <Fragment slot="philosophy-content">
            <h2 class="black">Discover the Process</h2>
			<p>The magic behind a great logo lies in the details. Join me on Behance and discover my passion for graphic design.</p>
            <a href="https://bit.ly/WRS170" class="outline" target="_blank">Project in Behance Portfolio</a>
        </Fragment>
    </PhilosophySection> -->

    <ContactSection />

    <Menu />
</MainLayout>