---
import MainLayout from "../layout/MainLayout.astro";
import TheHeader from "../components/theHeader.astro";
import Menu from "../components/menu.astro";
import PhilosophySection from "../components/philosophySection.astro";
import PauseSection from "../components/pauseSection.astro";
import ContactSection from "../components/contactSection.astro";
import PortfolioHero from "../components/portfolioHero.astro";
import PortfolioComparision from "../components/portfolioComparision.astro";
import PortfolioBigOne from "../components/portfolioBigOne.astro";
import PortfolioTwoImages from "../components/portfolioTwoImages.astro";
import NotesImage from "../images/portfolio/wrs/t-shirt.webp";
import ReticulaImage from "../images/portfolio/wrs/reticula.webp";
import ColorsImage from "../images/portfolio/wrs/colors.webp";
import BlockColorsImage from "../images/portfolio/wrs/block-colors.webp";
---

<MainLayout MainTitle="Fidel Hernandez :: Unleash the Creative Beast! Project" MainDescription="Inspired by the strength and determination of the white rhinoceros, this design aims to convey the solidity and impact that characterize our work.">
	<TheHeader />

    <PortfolioHero
                category="Branding"
                projectName="Unleash the Creative Beast!"
                projectCover="/assets/images/portfolio/wrs/cover.webp"
                dataProject={[
                    ['Client', 'White Rhino Studio'],
                    ['Location', 'Saltillo, Coahuila MX'],
                    ['Date', 'July 2024'],
                    ['Role', 'Creative Director']
                ]}
                ></PortfolioHero>

    <section class="fh-portfolio-section">
		<div class="container">
			<div class="row pt-6 pb-6">
				<div class="col-12 col-lg-4" data-aos="fade-right">
					<h2>I.</h2>
				</div>
				<div class="col-12 col-lg-8" data-aos="fade-left" data-aos-delay="400">
                    <h2>Understanding<br>the Context</h2>
					<p>The White Rhino Studio logo is more than just an image; it's a statement of intent. Inspired by the strength and determination of the white rhinoceros, this design aims to convey the solidity and impact that characterize our work.</p>
                    <p>We've streamlined the design while preserving its core elements, introducing a striking negative space "R" and a more versatile truncated rhinoceros body. These changes allow for greater flexibility in various applications and better align with our new, impactful slogan. We also sought to strengthen our brand's social media engagement.</p>
				</div>
			</div>
		</div>
	</section>

    <PortfolioComparision imageOld="/assets/images/portfolio/wrs/before-logo.webp" imageNew="/assets/images/portfolio/wrs/after-logo.webp" />

    <section class="fh-portfolio-section">
		<div class="container">
			<div class="row pt-6 pb-6">
				<div class="col-12 col-lg-4" data-aos="fade-right">
					<h2>II.</h2>
				</div>
				<div class="col-12 col-lg-8" data-aos="fade-left" data-aos-delay="400">
                    <h2>Selecting<br>Typography</h2>
					<p>Montserrat is a smart choice for logos thanks to its versatility and readability. Its Barcelona origins give it a warm and modern character, perfect for brands looking to stand out in a visually saturated world.</p>
				</div>
			</div>
		</div>
	</section>

    <PortfolioBigOne image="/assets/images/portfolio/wrs/big-one.webp"/>

    <PortfolioTwoImages imageOne={ NotesImage } imageTwo={ ReticulaImage } />

    <section class="fh-portfolio-section">
		<div class="container">
			<div class="row pt-6 pb-6">
				<div class="col-12 col-lg-4" data-aos="fade-right">
					<h2>III.</h2>
				</div>
				<div class="col-12 col-lg-8" data-aos="fade-left" data-aos-delay="400">
                    <h2>Creating<br>Color Palette</h2>
					<p>An Earthy Palette: Warm, natural hues like khaki and hazel evoke the earth, nature, and a connection to the animal world. These colors transport us to the landscapes where the white rhinoceros lives, creating a sense of authenticity and rootedness.</p>
                    <p>A Touch of Freshness and Elegance: Lemon zest adds a touch of brightness and freshness to the palette, symbolizing renewal and hope. Silver, meanwhile, adds an element of sophistication and modernity, representing strength and resilience. Aegean, with its blue tones, evokes calm and depth, connecting us to nature and the origin of life.</p>
				</div>
			</div>
		</div>
	</section>

    <PortfolioTwoImages imageOne={ ColorsImage } imageTwo={ BlockColorsImage } />

    <section class="fh-portfolio-section">
        <div class="container">
            <div class="row pt-6 pb-6">
                <div class="col-12 col-lg-4" data-aos="fade-right">
                    <h2>IV.</h2>
                </div>
                <div class="col-12 col-lg-8" data-aos="fade-left" data-aos-delay="400">
                    <h2>Conclusions</h2>
                    <p>As a team, we unanimously agree that the new logo is a great success. We have achieved a design that not only meets our expectations but also represents the evolution of the agency. The final result is a product of collaborative work and we are very proud of it.</p>
                </div>
            </div>
        </div>
    </section>

    <PauseSection image="/assets/images/portfolio/wrs/back-rhino.webp">
        <Fragment slot="PauseFragment">
			<h5>Cloaked in ancestral shadows, it holds the whispers of creation.</h5>
		</Fragment>
    </PauseSection>

    <PhilosophySection picture="/assets/images/portfolio/behance.webp">
        <Fragment slot="philosophy-content">
            <h2 class="black">Discover the Process</h2>
			<p>The magic behind a great logo lies in the details. Join me on Behance and discover my passion for graphic design.</p>
            <a href="https://bit.ly/WRS170" class="outline" target="_blank">Project in Behance Portfolio</a>
        </Fragment>
    </PhilosophySection>

    <ContactSection />

    <Menu />
</MainLayout>