---
import MainLayout from "../layout/MainLayout.astro";
import TheHeader from "../components/theHeader.astro";
import Menu from "../components/menu.astro";
import PhilosophySection from "../components/philosophySection.astro";
import PauseSection from "../components/pauseSection.astro";
import ContactSection from "../components/contactSection.astro";
import PortfolioHero from "../components/portfolioHero.astro";
import PortfolioBigOne from "../components/portfolioBigOne.astro";
import PortfolioTwoImages from "../components/portfolioTwoImages.astro";
---

<MainLayout MainTitle="Fidel Hernandez :: Bixo Attack! Project" MainDescription="The challenge was to create a visual identity that captured the essence of Bichotech and its connection to urban art.">
	<TheHeader />

    <PortfolioHero
                category="Branding"
                projectName="Bixo Attack!"
                projectCover="/assets/images/portfolio/bixo/cover.webp"
                dataProject={[
                    ['Client', 'Bichotech'],
                    ['location', 'Monterrey, NL MX'],
                    ['Date', 'October 2023'],
                    ['Role', 'Creative Director']
                ]}
                ></PortfolioHero>

    <section class="fh-portfolio-section">
		<div class="container">
			<div class="row pt-6 pb-6">
				<div class="col-12 col-lg-4" data-aos="fade-right">
					<h2>I.</h2>
				</div>
				<div class="col-12 col-lg-8" data-aos="fade-left" data-aos-delay="400">
                    <h2>Understanding<br>the Context</h2>
					<p>The challenge was to create a visual identity that captured the essence of Bichotech and its connection to urban art. I opted for a custom logo, featuring geometric typography and a symbol that pays homage to skateboarding. Each element of the design was carefully selected to reflect the team's experience and creativity.</p>
				</div>
			</div>
		</div>
	</section>

    <PauseSection image="/assets/images/portfolio/bixo/bixo-1.webp" />

    <section class="fh-portfolio-section">
		<div class="container">
			<div class="row pt-6 pb-6">
				<div class="col-12 col-lg-4" data-aos="fade-right">
					<h2>II.</h2>
				</div>
				<div class="col-12 col-lg-8" data-aos="fade-left" data-aos-delay="400">
                    <h2>Skate Meets Sketch:<br>A Perfect Match</h2>
					<p>I used rectangles as a foundational structure before letting my pencil take the lead. As the strokes took shape, the Bichotech logo began to emerge. The apparent 'disorder' of some figures mirrors the challenges inherent in skateboarding but also evokes the adaptability of a graffiti artist who transforms any surface into a canvas.</p>
				</div>
			</div>
		</div>
	</section>

    <PortfolioBigOne image="/assets/images/portfolio/bixo/bixo-draw.webp"/>

    <PortfolioTwoImages imageOne="/assets/images/portfolio/bixo/bixo-cap.webp" imageTwo="/assets/images/portfolio/bixo/bixo-graffiti.webp" />

    <section class="fh-portfolio-section">
		<div class="container">
			<div class="row pt-6 pb-6">
				<div class="col-12 col-lg-4" data-aos="fade-right">
					<h2>III.</h2>
				</div>
				<div class="col-12 col-lg-8" data-aos="fade-left" data-aos-delay="400">
                    <h2>Colors with Attitude:<br>The Bichotech Brand Palette</h2>
					<p>The color palette was carefully chosen to reflect Bichotech's bold and expressive personality. Inspired by the vibrant world of graffiti, the colors used in the logo create a visually striking and memorable identity. The vibrant hues convey a sense of energy and individuality, perfectly capturing the essence of the brand.</p>
				</div>
			</div>
		</div>
	</section>

    <PortfolioTwoImages imageOne="/assets/images/portfolio/bixo/bixo-colors.webp" imageTwo="/assets/images/portfolio/bixo/bixo-flag.webp" />

    <section class="fh-portfolio-section">
        <div class="container">
            <div class="row pt-6 pb-6">
                <div class="col-12 col-lg-4" data-aos="fade-right">
                    <h2>IV.</h2>
                </div>
                <div class="col-12 col-lg-8" data-aos="fade-left" data-aos-delay="400">
                    <h2>Conclusions</h2>
                    <p>Urban art, often underestimated, is a unique fusion of styles that achieves an astonishing harmony. I admire the raw beauty of its strokes, each line a testament to the artist's meticulous attention to detail. Working on this project has allowed me to discover a hidden world of artistic expression. It's never too late to appreciate the beauty that surrounds us.</p>
                </div>
            </div>
        </div>
    </section>

    <PauseSection image="/assets/images/portfolio/bixo/bixo-pause.webp" />

    <!-- <PhilosophySection picture="/assets/images/portfolio/behance.webp">
        <Fragment slot="philosophy-content">
            <h2 class="black">Discover the Process</h2>
			<p>The magic behind a great logo lies in the details. Join me on Behance and discover my passion for graphic design.</p>
            <a href="https://bit.ly/WRS170" class="outline" target="_blank">Project in Behance Portfolio</a>
        </Fragment>
    </PhilosophySection> -->

    <ContactSection />

    <Menu />
</MainLayout>