---
import MainLayout from "../layout/MainLayout.astro";
import TheHeader from "../components/theHeader.astro";
import Menu from "../components/menu.astro";
import PhilosophySection from "../components/philosophySection.astro";
import PauseSection from "../components/pauseSection.astro";
import ContactSection from "../components/contactSection.astro";
import PortfolioHero from "../components/portfolioHero.astro";
import PortfolioComparision from "../components/portfolioComparision.astro";
import PortfolioBigOne from "../components/portfolioBigOne.astro";
import PortfolioTwoImages from "../components/portfolioTwoImages.astro";
---

<MainLayout MainTitle="Welcome como el tapete" MainDescription="Descripción de la page">
	<TheHeader />

    <PortfolioHero
                category="Branding"
                projectName="Bunny Hops"
                projectCover="/assets/images/portfolio/wrs/cover-wrs.webp"
                dataProject={[
                    ['Client', 'Malenky'],
                    ['location', 'Monterrey, NL MX'],
                    ['Date', 'March 2020'],
                    ['Role', 'Creative Director']
                ]}
                ></PortfolioHero>

    <section class="fh-portfolio-section">
		<div class="container">
			<div class="row pt-6 pb-6">
				<div class="col-12 col-lg-4" data-aos="fade-right">
					<h2>I.</h2>
				</div>
				<div class="col-12 col-lg-8" data-aos="fade-left" data-aos-delay="400">
                    <h2>Understanding<br>the Context</h2>
					<p>Jade is a Mexican event coordination agency dedicated to transforming dreams into reality. They specialize in creating extraordinary social events that are as unique as their clients.</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia temporibus deserunt harum beatae rerum? Dignissimos excepturi qui inventore! Tempore laudantium dolor consectetur, obcaecati expedita sunt ut laboriosam est quisquam quos.</p>
				</div>
			</div>
		</div>
	</section>

    <PortfolioComparision imageOld="/assets/images/portfolio/wrs/before-logo.webp" imageNew="/assets/images/portfolio/wrs/after-logo.webp" />

    <section class="fh-portfolio-section">
		<div class="container">
			<div class="row pt-6 pb-6">
				<div class="col-12 col-lg-4" data-aos="fade-right">
					<h2>II.</h2>
				</div>
				<div class="col-12 col-lg-8" data-aos="fade-left" data-aos-delay="400">
                    <h2>Selecting<br>Typography</h2>
					<p>Montserrat is a smart choice for logos thanks to its versatility and readability. Its Barcelona origins give it a warm and modern character, perfect for brands looking to stand out in a visually saturated world.</p>
				</div>
			</div>
		</div>
	</section>

    <PortfolioBigOne image="/assets/images/portfolio/wrs/big-one.webp"/>

    <PortfolioTwoImages imageOne="/assets/images/portfolio/wrs/t-shirt.webp" imageTwo="/assets/images/portfolio/wrs/reticula.webp" />

    <section class="fh-portfolio-section">
		<div class="container">
			<div class="row pt-6 pb-6">
				<div class="col-12 col-lg-4" data-aos="fade-right">
					<h2>III.</h2>
				</div>
				<div class="col-12 col-lg-8" data-aos="fade-left" data-aos-delay="400">
                    <h2>Creating<br>Color Palette</h2>
					<p>An Earthy Palette: Warm, natural hues like khaki and hazel evoke the earth, nature, and a connection to the animal world. These colors transport us to the landscapes where the white rhinoceros lives, creating a sense of authenticity and rootedness.</p>
                    <p>A Touch of Freshness and Elegance: Lemon zest adds a touch of brightness and freshness to the palette, symbolizing renewal and hope. Silver, meanwhile, adds an element of sophistication and modernity, representing strength and resilience. Aegean, with its blue tones, evokes calm and depth, connecting us to nature and the origin of life.</p>
				</div>
			</div>
		</div>
	</section>

    <PortfolioTwoImages imageOne="/assets/images/portfolio/wrs/colors.webp" imageTwo="/assets/images/portfolio/wrs/block-colors.webp" />

    <section class="fh-portfolio-section">
        <div class="container">
            <div class="row pt-6 pb-6">
                <div class="col-12 col-lg-4" data-aos="fade-right">
                    <h2>IV.</h2>
                </div>
                <div class="col-12 col-lg-8" data-aos="fade-left" data-aos-delay="400">
                    <h2>Conclusions</h2>
                    <p>As a team, we unanimously agree that the new logo is a great success. We have achieved a design that not only meets our expectations but also represents the evolution of the agency. The final result is a product of collaborative work and we are very proud of it.</p>
                </div>
            </div>
        </div>
    </section>

    <PauseSection image="/assets/images/portfolio/wrs/back-rhino.webp" />

    <PhilosophySection picture="/assets/images/portfolio/behance.webp">
        <Fragment slot="philosophy-content">
            <h2 class="black">Discover the Process</h2>
			<p>The magic behind a great logo lies in the details. Join me on Behance and discover my passion for graphic design.</p>
            <a href="https://bit.ly/WRS170" class="outline" target="_blank">Project in Behance Portfolio</a>
        </Fragment>
    </PhilosophySection>

    <ContactSection />

    <Menu />
</MainLayout>