---
import MainLayout from "../layout/MainLayout.astro";
import TheHeader from "../components/theHeader.astro";
import MouseIcon from "../components/svg/mouseIcon.astro";
import Menu from "../components/menu.astro";
---

<MainLayout MainTitle="Welcome como el tapete" MainDescription="Descripción de la page">
	<TheHeader />

    <section id="fh-hero-section" class="change-menu-color">
		<div class="container-fluid">
			<div class="fh-hero-text">
				<h1 data-aos="zoom-in-down" data-aos-duration="1500">
					My Resume
				</h1>
				<div class="fh-postitle" data-aos="fade-up">The path of my professional career</div>
			</div>
			<div class="fh-hero-mouse">
				<MouseIcon />
			</div>
		</div>
	</section>

    <section class="fh-resume-section">
		<div class="container">
			<div class="row pt-6 pb-6">
				<div class="col-12 col-lg-4" data-aos="fade-right">
					<h2 class="black">Presentation.</h2>
				</div>
				<div class="col-12 col-lg-8" data-aos="fade-left" data-aos-delay="400">
					<p>Hybrid UI/UX Designer with a background in front-end development (ReactJS, Angular, Astro Build) and graphic design (visual identity, illustration, native & web UI/UX).</p>
                    <p>I'm passionate about user experience and interface design, so I combined my skills to create intuitive interfaces. I'm looking for a new challenge where I can lead creative teams and drive success for any organization.</p>
				</div>
			</div>
		</div>
	</section>

    <section class="fh-resume-section education">
		<div class="container">
			<div class="row pt-6 pb-6 g-5">
				<div class="col-12 col-lg-4 ps-4 pe-4" data-aos="fade-down">
                    <h4>Education</h4>
                    <p>Systems Engineer</p>
                    <h3>Universidad Autónoma de Nuevo León</h3>
                    <p>(1992 - 1997)</p>
                    <hr>
                    <p>Graphic Design and Marketing <small><em>(on line)</em></small></p>
                    <h3>LCI Education</h3>
                    <p>(2002 - 2005)</p>
				</div>
                <div class="col-12 col-lg-4 ps-4 pe-4" data-aos="fade-down" data-aos-delay="800">
                    <h4>Skills</h4>
                    <p class="bullet">UI Developer</p>
                    <p>ReactJS, Angular, Astro Build.</p>
                    <p class="bullet">Graphic Design</p>
                    <p>Visual identity, illustration, native and web UI/UX.</p>
                    <p class="bullet">Intuitive Interface Creation</p>
                    <p>Combining development and design skills.</p>
                </div>
                <div class="col-12 col-lg-4 ps-4 pe-4" data-aos="fade-down" data-aos-delay="1600">
                    <h4>Personality</h4>
                    <p>• Creative</p>
                    <p>• Problem Solving</p>
                    <p>• Adaptability</p>
                    <p>• Self-learning</p>
                    <p>• Passion for UX and design</p>
                    <p>• Leadership</p>
                </div>
			</div>
		</div>
	</section>

    <section class="fh-resume-section experience">
		<div class="container">
			<div class="row pt-6 pb-6">
				<div class="col-12 col-lg-4" data-aos="fade-right">
					<h2 class="black">Freelancer.</h2>
                    <h5>UI/UX, logo and graphic designer, and full-stack developer</h5>
                    <h5>In the middle of the hiring process</h5>
				</div>
				<div class="col-12 col-lg-8" data-aos="fade-left">
                    <h5>Technologies</h5>
                    <p>ReactJS, jQuery, Angular, Astro Build, PHP, JavaScript, TypeScript, HTML5, CSS3, SCSS (SASS), Markdown</p>
                    <h5>Skills</h5>
					<ul>
                        <li><span>Web development:</span> Developed websites and web applications using various tools, methodologies, and strategies.</li>
                        <li><span>CMS:</span> Created custom CMS with PHP and MySQL or customized commercial CMS (WordPress, Joomla, Drupal, Magento).</li>
                        <li><span>UI development:</span> Programmed user interfaces, including SPAs with Angular.</li>
                        <li><span>Front-end development:</span> Created static pages with Astro.</li>
                        <li><span>UI/UX design:</span> Designed user interfaces and user experiences for various projects.</li>
                        <li><span>Branding:</span> Created brands for small businesses, including logo design, and brand usage manuals.</li>
                        <li><span>Illustration:</span> Created characters, backgrounds, and poses for illustration.</li>
                    </ul>
                    <h5>Achivements</h5>
                    <ul>
                        <li><span>Innovative product development:</span> Utilized diverse tools and methodologies to create engaging websites and web applications.</li>
                        <li><span>Versatility:</span> Experience in back-end, front-end, UI/UX development, and branding.</li>
                    </ul>
                    <h5>Tools</h5>
                    <p>GIT • BitBucket • WordPress • Netlify • Figma • Click Up • Trello • Affinity Designer • Affinity Publisher • Affinity Photo • Adobe Photoshop</p>
				</div>
			</div>
		</div>
	</section>

    <section class="fh-resume-section experience">
		<div class="container">
			<div class="row pt-6 pb-6">
				<div class="col-12 col-lg-4" data-aos="fade-right">
					<h2 class="black">Altimetrik mexico, s.a. de c.v.</h2>
                    <h5>Principal Engineer</h5>
                    <h5>Jul 2021 - Jan 2023</h5>
                    <h5>Guadalajara, JAL<br><small>Remote Position</small></h5>
				</div>
				<div class="col-12 col-lg-8" data-aos="fade-left">
                    <h5>Clients</h5>
                    <p>Citi Bank, Ancestry, Guaranteed Rate, Altimetrik</p>
                    <h5>Technologies</h5>
                    <p>ReactJS, Angular, TypeScript, Adobe AEM, MAGNOLIA</p>
                    <h5>Skills</h5>
					<ul>
                        <li><span>Programing:</span> Landing page, web portal, and mobile app development.</li>
                        <li><span>UI/UX design:</span> Design strategies, wireframing, design team leadership.</li>
                        <li><span>Content migration:</span> Information transfer between CMS.</li>
                        <li><span>Prototyping:</span> Interactive prototype creation for API testing.</li>
                    </ul>
                    <h5>Achivements</h5>
                    <ul>
                        <li>UX design for fintech mobile app.</li>
                        <li>Successful content migration to new CMS.</li>
                        <li>Prototype creation for API testing.</li>
                    </ul>
                    <h5>Tools</h5>
                    <p>GIT • Figma • JIRA • Adobe Photoshop • Affinity Designer</p>
				</div>
			</div>
		</div>
	</section>

    <section class="fh-resume-section experience">
		<div class="container">
			<div class="row pt-6 pb-6">
				<div class="col-12 col-lg-4" data-aos="fade-right">
					<h2 class="black">Metagenics, Inc.</h2>
                    <h5>Frontend dev and UI/UX designer</h5>
                    <h5>Jan 2019 - Apr 2021</h5>
                    <h5>Irvine, CA<br><small>Remote Position</small></h5>
				</div>
				<div class="col-12 col-lg-8" data-aos="fade-left">
                    <h5>Technologies</h5>
                    <p>Angular, PHP, JavaScript, TypeScript, HTML5, CSS3, SCSS (SASS)</p>
                    <h5>Skills</h5>
					<ul>
                        <li><span>Web development:</span> Implementation of design improvements and interface updates for web portals and web applications.</li>
                        <li><span>API integration:</span> Content connection between CMS and portals</li>
                        <li><span>UI/UX design:</span> Creation of interfaces for different devices and applications, including user experience, and iconography.</li>
                        <li><span>Teamwork:</span> Collaboration with design and development teams.</li>
                    </ul>
                    <h5>Achivements</h5>
                    <ul>
                        <li><span>User experience improvements:</span> Implementation of design improvements for the medical clinic web application.</li>
                        <li><span>Interface development:</span> Design and development of interfaces for displaying medical results on office TVs.</li>
                        <li><span>Application planning:</span> Contribution of expertise in the user experience planning stage for applications.</li>
                        <li><span>New screen design:</span> Creation of interfaces for new processes in the web application, using Adobe XD, and Illustrator.</li>
                    </ul>
                    <h5>Tools</h5>
                    <p>GIT • Adobe XD • Adobe Illustrator • Adobe Photoshop • JIRA</p>
				</div>
			</div>
		</div>
	</section>

    <section class="fh-resume-section experience">
		<div class="container">
			<div class="row pt-6 pb-6">
				<div class="col-12 col-lg-4" data-aos="fade-right">
					<h2 class="black">Wynne Systems, LLC.</h2>
                    <h5>UI developer and UI/UX designer</h5>
                    <h5>Aug 2018 - Jul 2019</h5>
                    <h5>Aliso Viejo, CA<br><small>Remote Position</small></h5>
				</div>
				<div class="col-12 col-lg-8" data-aos="fade-left">
                    <h5>Technologies</h5>
                    <p>JavaScript, jQuery, HTML5, CSS3</p>
                    <h5>Skills</h5>
					<ul>
                        <li><span>Web development:</span> Worked with Java (JSP) files, jQuery script injection, JS performance improvements.</li>
                        <li><span>UI design:</span> Creation and update of interface components, prototype design of applications with SketchApp.</li>
                        <li><span>Metodologies:</span> Application of the "Mobile First" philosophy in design.</li>
                    </ul>
                    <h5>Achivements</h5>
                    <ul>
                        <li><span>Web application improvement:</span> Implementation of improvements in the web application, bug fixing, and development of new features in JS.</li>
                        <li><span>Prototype design:</span> Creation of prototypes of new applications with a focus on mobile experience.</li>
                    </ul>
                    <h5>Tools</h5>
                    <p>Sketch App • Adobe Illustrator • Adobe Photoshop • Asana</p>
				</div>
			</div>
		</div>
	</section>

    <Menu />
</MainLayout>