---

---
<section id="fh-contact-section">
    <div class="container">
        <div class="row pt-6 pb-6">
            <div class="col-12 col-lg-6">
                <h2 class="black">Want to discuss<br>your project?</h2>
            </div>
            <div class="col-12 col-lg-6 back-white" data-aos="fade-left">
                <h5>Fidel Hernandez</h5>
                <p>Monterrey, NL MX<br>+52 81 3708 6128<br>fidel.hdz@me.com</p>
                <ul class="social">
                    <li><a href="https://bit.ly/FHdzFB" aria-label="Fidel Hernandez's FaceBook Page Link" target="_blank">FB</a></li>
                    <li><a href="https://bit.ly/FHdzIG" aria-label="Fidel Hernandez's Instagram Profile" target="_blank">IG</a></li>
                    <li><a href="https://bit.ly/FHdzX" aria-label="Fidel Hernandez's X Profile" target="_blank">X</a></li>
                    <li><a href="https://bit.ly/FHdzIN" aria-label="Fidel Hernandez's LinkedIn Profile" target="_blank">IN</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<style lang="scss">
    #fh-contact-section {
        p {
            letter-spacing: normal;
        }
    }
    ul.social {
        list-style: none;
        margin: 0;
        padding: 10px 0 0 60px;
        display: flex;
        column-gap: 24px;

        @media (max-width: 75em){
            padding: 10px 0 0 0;
        }

        li {
            a {
                font-size: 0.625rem;
                text-transform: uppercase;
                letter-spacing: 0.15rem;
            }
        }
    }
</style>