---

---
<section id="fh-contact-section">
    <div class="container">
        <div class="row pt-6 pb-6">
            <div class="col-12 col-lg-6" data-aos="fade-right">
                <h2 class="black">Want to discuss<br>your project?</h2>
            </div>
            <div class="col-12 col-lg-6 back-white" data-aos="fade-left">
                <h5>Fidel Hernandez</h5>
                <p>Monterrey, NL MX<br>+52 81 3708 6128<br>fidel.hdz@me.com</p>
            </div>
        </div>
    </div>
</section>