---
import LogoIcon from "./svg/LogoIcon.astro"
---
<div id="mega-menu">
    <ul>
        <li><LogoIcon /></li>
        <li><a href="/">Home</a></li>
        <li>
            Portfolio
            <ul>
                <li><a href="/portfolio-dental-carranza">Dental Carranza</a></li>
                <li><a href="/portfolio-bichotech">Bichotech</a></li>
                <li><a href="/portfolio-heber-banda">Heber Banda</a></li>
                <li><a href="/portfolio-malenky">Malenky</a></li>
                <li><a href="/portfolio-jade">Jade, Coordinación de eventos</a></li>
                <li><a href="/portfolio-sofulabs">Sofulabs</a></li>
                <li><a href="/portfolio-wrs">White Rhino Studio</a></li>
                <li><a href="/portfolio-mooving-logistics">Mooving Logistics</a></li>
            </ul>
        </li>
        <li><a href="/services">Services</a></li>
        <li><a href="/resume">Resume</a></li>
        <!-- <li><a href="blog/">Blog</a></li> -->
    </ul>
</div>

<style lang="scss">
    #mega-menu {
        position: fixed;
        background-color: rgb(3 3 2 / 0.96);
        backdrop-filter: blur(20px);
        width: 100svw;
        height: 100svh;
        top: 0;
        left: 0;
        z-index: 10;
        display: none;
        justify-content: center;
        align-items: center;

        &.visible {
            display: flex;
            animation: megaMenuInAnimation forwards 1000ms ease-in-out;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                font-family: var(--fh-ff-cinzel);
                font-size: 3.75rem;
                color: rgb(255 255 255 / 0.7);

                @media (max-width: 75em){
                    font-size: 2.5rem;
                }

                a {
                    font-family: var(--fh-ff-cinzel);
                    font-size: 3.75rem;
                    color: rgb(255 255 255 / 0.7);

                    @media (max-width: 75em){
                        font-size: 2.5rem;
                    }

                    &:hover {
                        color: rgba(255 255 255 / 0.4);
                    }
                }

                &:first-child {
                    display: block;
                    width: 160px;
                    opacity: 0.2;
                }

                ul {
                    margin-left: 100px;

                    @media (max-width: 75em){
                        margin-left: 50px;
                    }

                    li {
                        margin: 8px 0;
                        font-size: 0.875rem;

                        a {
                            font-family: var(--fh-ff-raleway);
                            font-size: 0.875rem;
                            text-transform: uppercase;
                        }

                        &:first-child {
                            opacity: unset;
                        }
                    }
                }
            }
        }
    }

    @keyframes megaMenuInAnimation {
        from {
            opacity: 0;
            filter: blur(10px);
        }
        to {
            opacity: 1;
            filter: blur(0);
        }
    }

    @keyframes megaMenuOutAnimation {
        from {
            opacity: 1;
            filter: blur(0);
        }
        to {
            opacity: 0;
            filter: blur(10px);
        }
    }
</style>