---
interface PauseImageProps {
    image: string;
}

const { image } = Astro.props as PauseImageProps;
---

<section class="big-pause" style={{backgroundImage: `url(${image})`}}></section>

<style lang="scss">
    .big-pause {
        height: 400px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        // background-attachment: fixed;

        @media (max-width: 75em){
            height: 500px;
        }
    }
</style>