---
interface ComparisionProps {
    imageOld: string;
    imageNew: string;
}

const { imageOld, imageNew } = Astro.props as ComparisionProps;
---

<section class="fh-portfolio-split">
    <div class="half" style={{backgroundImage: `url(${imageOld})`}} data-aos="fade-right">
        <div class="text">Before</div>
    </div>

    <div class="half" style={{backgroundImage: `url(${imageNew})`}} data-aos="fade-left">
        <div class="text">After</div>
    </div>
</section>

<style lang="scss">
    .fh-portfolio-split {
        height: 800px;
        background-color: rgb(3 3 2);
        display: flex;

        @media (max-width: 75em){
            flex-direction: column;
        }

        .half {
            width: 50%;
            position: relative;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            @media (max-width: 75em){
                width: 100%;
                height: 50%;
            }

            .text {
                position: absolute;
                color: rgb(255 255 255 / 0.7);
                padding: 30px;
                font-family: var(--fh-ff-cinzel);
                font-size: 2rem;
                bottom: 0;
                right: 0;
            }
        }
    }
</style>