---
interface PortfolioProps {
    photo: string;
    biz: string;
    location: string;
    linkUrl: string;
    reverse?: boolean;
}

const { linkUrl, biz, location, photo, reverse=false } = Astro.props as PortfolioProps;
---

<div class="row">
    <div class:list={['col-12', 'col-lg-6']} data-aos="fade-right" data-aos-duration="2200" data-aos-offset="200">
        <a href={ linkUrl }><div class="portfolio-thumb" style={{backgroundImage: `url(${ photo })` }}>{ biz }</div></a>
    </div>
    <div class:list={['col-12', 'col-lg-6', 'middle-text', 'justify-content-start']} data-aos="fade-left" data-aos-duration="2200" data-aos-offset="200">
        <h4 data-location={ location }>{ biz }</h4>
    </div>
</div>

<style lang="scss">
    .row {
        margin: 200px 0;
        @media (max-width: 75em){
            padding: 0;
            margin-top: 10px;
        }
    }

    .middle-text {
        display: flex;
        align-items: center;

        h4 {
            font-family: var(--fh-ff-cinzel);
            margin: 0;
            font-size: 1.5rem;
            color: white;
            padding: 0 0 0 80px;

            @media (max-width: 75em){
                padding: 0;
            }

            &::after {
                content: attr(data-location);
                font-family: var(--fh-ff-raleway);
                text-transform: uppercase;
                font-size: 0.75rem;
                color: rgba(255 204 110 / 0.4);
                display: block;
            }
        }
    }

    .portfolio-thumb {
        display: block;
        max-width: 100%;
        width: 100%;
        height: 400px;
        background-color: black;
        text-align: center;
        vertical-align: middle;
        margin: 0 auto;
        color: transparent;
        background-size: cover;
        background-position: center;
        transition: filter 0.4s ease-in-out;
        filter: grayscale(1);

        &:hover {
            filter: grayscale(0);
        }

        @media (max-width: 75em){
            margin-bottom: 0;
            height: 220px;
            filter: unset;
        }
    }
</style>