---
import '../sass/styles.scss';
import '../sass/animations.scss';
import LogoIcon from '../components/svg/LogoIcon.astro';
const { MainTitle, MainDescription } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={ MainDescription }>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{ MainTitle }</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&family=Montserrat&display=swap" rel="stylesheet" />
    <link href='https://unpkg.com/aos@2.3.1/dist/aos.css' rel="stylesheet" crossorigin="anonymous" />

    <!-- FB -->
	<meta property="og:type" content="page" />
	<meta property="og:title" content="Creative Portfolio of Fidel Hernandez" />
	<meta property="og:site_name" content="Creative Portfolio of Fidel Hernandez" />
	<meta property="og:url" content="https://fhdz.netlify.app/" />
	<meta property="og:image" itemprop="image" content="https://fhdz.netlify.app/assets/images/thumb.webp" />
	<meta property="og:image:secure_url" content="https://fhdz.netlify.app/assets/images/thumb.webp" />
	<meta property="og:image:type" content="image/webp" />
	<meta property="og:image:width" content="1200" />
	<meta property="og:image:height" content="800" />
	<meta property="og:description" content="Fidel Hernandez: Visual Identity Designer & UI/UX Designer... and illustrator, web designer, UI developer, creative, and consultant" />
	<!-- TW -->
	<meta property="twitter:creator" content="@JFHdzP" />
	<meta property="twitter:card" content="gallery" />
	<meta property="twitter:title" content="Creative Portfolio of Fidel Hernandez" />
	<meta property="twitter:url" content="https://fhdz.netlify.app/" />
	<meta property="twitter:image" content="https://fhdz.netlify.app/assets/images/thumb.webp" />
	<meta property="twitter:description" content="Fidel Hernandez: Visual Identity Designer & UI/UX Designer... and illustrator, web designer, UI developer, creative, and consultant" />
</head>
<body>
    <div id="preloading-page">
        <div class="spin"></div>
        <div class="icon">
            <LogoIcon />
        </div>
    </div>

    <slot />

    <script is:inline src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script is:inline src="https://unpkg.com/aos@2.3.1/dist/aos.js" crossorigin="anonymous"></script>
    <script is:inline src="/assets/js/custom.js"></script>
</body>
</html>
